
    <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book.id),method: :delete , remote:true do %>
    <span class="btn btn-danger">♥<%= book.favorites.count %></span>
    <% end %>
    <% else %>
    <%= link_to book_favorites_path(book.id),method: :post , remote:true do %>
    <span class="btn btn-primary">♡<%= book.favorites.count %></span>
    <% end %>
    <% end %>
  </td>
