<% if book.favorited_by?(current_user) %>
  <td>
    <%= link_to book_favorites_path(book.id),method: :delete do %>
    <span class="btn btn-danger">♥<%= book.favorites.count %></span>
    <% end %>
  </td>
<% else %>
  <td>
    <%= link_to book_favorites_path(book.id),method: :post do %>
    <span class="btn btn-primary">♡<%= book.favorites.count %></span>
    <% end %>
  </td>
<% end %>